.input {
  &.boolean,
  &.checkbox {

    input {
      position: absolute;
      width: 0;
      height: 0;
      cursor: pointer;
      opacity: 0;
    }

    label {
      position: relative;
      display: inline-flex;
      align-items: center;
      flex-direction: row;

      &::before {
        position: relative;
        display: flex;
        align-self: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        margin-right: 16px;
        cursor: pointer;
        border: 1px solid $primary;
        border-radius: 4px;
        content: '';
      }
    }

    input:checked {
      border-color: $font;

      + label {
        &::after {
          position: absolute;
          top: 42%;
          left: 6px;
          display: block;
          width: 20px;
          height: 12px;
          cursor: pointer;
          border-bottom: 3px solid;
          border-left: 3px solid;
          border-color: $font;
          content: '';
          transform: translateY(-50%) rotate(-50deg);
        }
      }
    }

    &.dark {
      .checked {
        border-color: $secondary;
      }

      &::after {
        border-color: $secondary;
      }
    }
  }
}
