- full_screen true
- title 'Home'
- meta_description 'A site template'

%h1 Welcome to the Rails 6 Site Template

.test{ data: { controller: 'hello' } }
  %h2{ data: { target: 'hello.output' } } Test

%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis dolorum velit inventore ex illum incidunt cumque, alias cupiditate aspernatur, laudantium modi eos deserunt eum cum in ipsum iusto ducimus debitis. Illum assumenda quia ex, quibusdam pariatur facere harum doloremque perferendis necessitatibus sit vitae, quas dolorum at voluptas reprehenderit eos, nobis iste quidem ipsa. Iure ea alias quibusdam est voluptates dolor dolores tempore magnam culpa consequuntur doloremque rem, exercitationem, veniam ut consequatur eum quaerat. Praesentium asperiores, harum quo expedita id deleniti amet, labore, fugiat nihil magnam est! Ipsam vitae nihil minima incidunt animi dolorem iure! Hic ea dolorem atque ipsa temporibus!
