.table-container {
  max-width: 100%;
  overflow: auto;
}

.user-permissions {
  th {
    z-index: 10;
    font-family: $heading;
    font-weight: 700;
    text-align: right;
  }

  td {
    text-align: center;
  }

  tr td:first-child,
  tr th:first-child {
    position: sticky;
    left: 0;
    z-index: 15;
  }

  thead {
    tr {
      th {
        position: sticky;
        top: 0;
        text-align: center;
      }

      &:first-child {
        z-index: 20;
      }
    }
  }

  .boolean {

  }
}
