$white: #fff;
$black: #000;

$warn: #f7e4e1;
$notice: #d7ecfa;
$success: #e1faea;

// Also change these in foundation/_settings.scss
$primary: #4a738c;
$secondary: #def9f2;
$tertiary: #093640;
$accent: #062026;
$background: lighten($primary, 50%);

$font: $black;
