// Body
$body-background: $background;

// Header
$header-height: 64px;
$secondary-header-height: 48px;
$header-background: $white;
$header-border-color: $background;

// Main nav
$nav-background: $background;
$nav-font-color: $font;
$nav-spacer-background: $accent;
$nav-spacer-font-color: $white;

// Footer
$footer-height: 100px;
