%footer.bg-primary.text-white.flex.items-center.justify-around
  %span.flex.flex-no-wrap.items-center
    Kyle C.
    = image_tag('https://kyle-ratliff-portfolio.s3.amazonaws.com/public_assets/light_logo.png', class: 'h-8 bg-white rounded-full mx-2')
    Ratliff
  %span.copyright
    &copy;
    2019
    %span.mx-1 -
    = Time.now.year
  = link_to 'www.KyleRatliff.com', '//www.kyleraliff.com', class: 'text-white'
